<footer class="footer page__footer">
	<div class="footer__inner deco__font_alt">
		<div class="footer__row footer__row_main deco__b_b deco__b_b_f">
			<div class="footer__cell layout__wrap">

				<div class="footer__div">
					<a
						href="https://metahelix.io"
						class="footer__title link"
					>
						<div class="footer__title-line">META</div>
						<div class="footer__title-line">HELIX</div>
					</a>
				</div>

				<div class="footer__div">
					<div class="footer__social">
						<a
							href="https://discord.gg/W9mceRGeA9"
							class="footer__social-item link"
						>
							<span class="footer__social-icon icon icon_discord "></span>
						</a>

						<a
							href="https://twitter.com/MetaHelixIO"
							class="footer__social-item link"
						>
							<span class="footer__social-icon icon icon_twitter"></span>
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="footer__row">
			<div class="footer__line layout__wrap">
				<div class="footer__span footer__cr">
					<div class="footer__subtext">Copyright © 2021 All rights reserved</div>
				</div>
				<div class="footer__span footer__cookie">
					<div class="footer__subtext">We use cookies for better service.</div>
					<span class="footer__accept deco__accent">Accept</span>
				</div>
			</div>

		</div>
	</div>
</footer>