.button {
  position: relative;

  display: inline-flex;
  overflow: hidden;

  align-items: center;

  justify-content: center;

  margin: 0;
  padding: 0;

  cursor: poiter;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;

  color: #fff;

  outline: 0;
  touch-action: manipulation;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    content: '';

    background: $color_gray;
    border-radius: 32px;

    @include bp994-block() {
      border-radius: 85px;
    }

    @include ts(opacity);
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    content: '';

    opacity: 0;
    background: $gradient_bg_light;

    @include ts(opacity);
  }
  & .button__text {
    position: relative;
    z-index: 1;

    display: inline-block;
    overflow: hidden;

    vertical-align: top;
    text-transform: uppercase;

    color: black;

    font-weight: 700;

    @include ts(color);
  }

  /* HOVER */
  &:hover {
    cursor: pointer;

    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
    & .button__text {
      color: $color_light;
    }
  }

  @include ts(background);
}

/* Модификаторы */
.button_width_available {
  width: 100%;
}

/* Модификаторы КОНЕЦ */

/*Размеры кнопок*/

/*S - Начало*/
.button_size_s {
  font-size: 12px;
  line-height: 14px;
}
.button_size_s .button__text {
  margin: 3px 15px;
  @include bp768-block() {
    margin: 3px 30px;
  }

  @include bp994-block() {
    margin: 5px 45px;
  }
}
/*S - КОНЕЦ*/

/*M - Начало*/
.button_size_m {
  font-size: 16px;
  line-height: 20px;
}

.button_size_m .button__text {
  margin: 7px 40px;
}
/*M - КОНЕЦ*/

/*L - Начало*/
.button_size_l {
  font-size: 18px;
  line-height: 22px;
}
.button_size_l .button__text {
  margin: 10px 50px;
}
/*L - КОНЕЦ*/

/*XL - Начало*/
.button_size_xl {
  border-radius: 32px;

  font-size: 22px;
  line-height: 22px;
  &::after {
    border-radius: 32px;
  }
  @include bp994-block() {
    border-radius: 85px;

    &::after {
      border-radius: 85px;
    }
    font-size: 30px;
    line-height: 30px;
  }
}

.button_size_xl .button__text {
  margin: 20px 100px;

  @include bp994-block() {
    margin: 30px 160px;
  }
}
/*XL - КОНЕЦ*/

/*Виды кнопок*/
.button.button_view {
  &_action {
    background: red;
    & .button__text {
      color: #000;
    }
  }
}
/*Виды кнопок КОНЕЦ*/
