.logo {
  &__inner {
    display: flex;
    justify-content: center;

    margin-right: -32px;
    @include bp994-block() {
      margin-right: 0;
    }
  }

  &__img {
    //max-width: 190px;
    //height: 190px;
  }
  &__text {
    color: $color_dark;

    font-size: 24px;
    font-weight: 600;
  }
}
