<div class="token__diagram diagram">
    <div class="diagram__inner">
        <div class="diagram__controlbox">
            <div class="diagram__control">
                <div class="icon icon_control"></div>
            </div>
        </div>
        <div class="diagram__diagrambox">
            <div class="diagram__item diagram__item_first">
                <svg class="diagram__svg diagram__svg_first"
                     viewbox="0 0 180 180"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle class="diagram__circle diagram__circle_first" stroke-dasharray="310,345.4" stroke="url(#gradient-first)" fill="none" cx="90" cy="90" r="55" />
                    <defs>
                    <linearGradient id="gradient-first" x1="0%" y1="0%" x2="0%" y2="100%" gradientTransform="rotate(70)">
                    <stop offset="0%" stop-color="#000f46" />
                    <stop offset="80%" stop-color="#001e8d" />
                    </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="diagram__item diagram__item_second">
                <svg class="diagram__svg diagram__svg_second"
                     viewbox="0 0 180 180"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle class="diagram__circle diagram__circle_second" stroke-dasharray="35.4,345.4"fill="none" cx="90" cy="90" r="55" />
                </svg>
            </div>
            <div class="diagram__item diagram__item_third">
                <svg class="diagram__svg diagram__svg_third"
                     viewbox="0 0 180 180"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle class="diagram__circle diagram__circle_third" cx="90" cy="90" r="90" />
                    <defs>
                </svg>
                <div class="diagram__value">6,500</div>
            </div>
        </div>
        <div class="diagram__textbox">
            <div class="diagram__text diagram__text_first deco__w deco__w_700">5,000 Helixes</div>
            <div class="diagram__text diagram__text_second">will be up for sale</div>
        </div>
    </div>
</div>
