<section class="phases page__phases section">
  <div class="section__inner">
    <div class="section__box phases__box layout__wrap">


      <div class="section__title title title_main">
        <div class="title__text">
          Public sale Phases
        </div>
      </div>
      <div class="section__deco">
        <img
          src="/img/icons/icon__flower.svg"
          alt=""
          class="deco__pattern img section__img"
        >
      </div>

      <div class="phases__list">

        {# Item #}
        <div
          class="phases__item phase-item phase-item_init phase-item_first"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          <div class="phase-item__inner">
            <div class="phase-item__img-row">
              <div class="phase-item__img-box deco__bg_around">
                <img
                  src="/img/phases/phase_1.svg"
                  alt=""
                  class="phase-item__img phase-item__img_init img"
                >
                <img
                  src="/img/phases/phase_1_active.svg"
                  alt=""
                  class="phase-item__img phase-item__img_active img"
                >
              </div>
            </div>
            <div class="phase-item__text-row">
              <div class="phase-item__text phase-item__text-glow">1000</div>
              <div class="phase-item__text deco__i">presale @ 0,15 ETH</div>
            </div>
          </div>
        </div>
        {# Item END#}


        {# Item #}
        <div
          class="phases__item phase-item phase-item_init phase-item_second"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          <div class="phase-item__inner">
            <div class="phase-item__img-row">
              <div class="phase-item__img-box deco__bg_around">
                <img
                  src="/img/phases/phase_2.svg"
                  alt=""
                  class="phase-item__img phase-item__img_init img"
                >
                <img
                  src="/img/phases/phase_2_active.svg"
                  alt=""
                  class="phase-item__img phase-item__img_active img"
                >
              </div>
            </div>
            <div class="phase-item__text-row">
              <div class="phase-item__text phase-item__text-glow">4000</div>
              <div class="phase-item__text deco__i">Public sale @ 0,2ETH</div>
            </div>
          </div>
        </div>
        {# Item END#}


      </div>


    </div>
  </div>
</section>