<div class="benefit">
    <div class="benefit__inner">
        <div class="benefit__list">
            {% for item in benefit.benefit_list %}
                {% include 'blocks/benefit/benefit-item.njk' %}
            {% endfor %}
        </div>
    </div>
</div>
