{% extends "layouts/layout.njk" %}
{% block main %}
    {% set inject = {
    wrapper: 'wrap'
    } %}
    {% include "sections/header-section.njk" %}
    <!-- {% include "blocks/header/header.njk" %} -->
    <!-- {% include "blocks/banner/banner.njk" %} -->
    <!-- {% include "blocks/about/about.njk" %} -->
    <!-- {% include "blocks/token/token.njk" %} -->
    <!-- {% include "sections/section-bg.njk" %} -->
    <!-- {% include "blocks/footer/footer.njk" %} -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock main %}
