{% extends "layouts/layout.njk" %}
{% block main %}
    {% set inject = {
    wrapper: 'wrap'
    } %}
    {% include "sections/header-section.njk" %}
    {% set inject = {
    wrapper: 'wrap',
    sectionClass: 'page__clump',
    deco: true
    } %}
    {% include "sections/banner-section.njk" %}
    {% set inject = {
    wrapper: 'wrap',
    sectionTitle: 'About',
    sectionClass: '',
    deco: true
    } %}
    {% include "sections/about-section.njk" %}
    <!-- {% include "blocks/about/about.njk" %} -->
    <!-- {% include "blocks/token/token.njk" %} -->
    <!-- {% include "sections/section-bg.njk" %} -->
    <!-- {% include "blocks/footer/footer.njk" %} -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock main %}
