{% extends "layouts/layout.njk" %}
{% block main %}
    {% set inject = {
    wrapper: 'wrap'
    } %}
    {% include "sections/header-section.njk" %}
    {% set inject = {
    wrapper: 'wrap',
    sectionClass: 'page__clump',
    deco: true
    } %}
    {% include "sections/banner-section.njk" %}
    {% set inject = {
    wrapper: 'wrap',
    sectionTitle: 'About',
    sectionClass: '',
    deco: true
    } %}
    {% include "sections/about-section.njk" %}
    {% set inject = {
    wrapper: 'wrap',
    sectionTitle: 'Feature',
    sectionClass: '',
    deco: true
    } %}
    {% include "sections/feature-section.njk" %}
    {% set inject = {
    wrapper: 'wrap',
    sectionTitle: 'Holders benefits',
    sectionClass: '',
    deco: true
    } %}
    {% include "sections/benefit-section.njk" %}
    <div class="page__section-bg">
        {% set inject = {
        wrapper: 'wrap',
        sectionTitle: 'Tokenomics',
        sectionClass: '',
        deco: true
        } %}
        {% include "sections/token-section.njk" %}
        {% set inject = {
        wrapper: 'wrap',
        sectionTitle: 'HelixMap',
        sectionClass: '',
        deco: true
        } %}
        {% include "sections/map-section.njk" %}
        <!-- {% include "blocks/footer/footer.njk" %} -->
    </div>
    <!-- {% include "sections/section-bg.njk" %} -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock main %}
