/* COLORS */
$color_light: #fff;
$color_passive: #b8b8b8;
$color_dark: #000;
$color_dark_2: #1e2a31;
$color_blue: #353945;
$color_gray: rgba($color_light, 0.5);
$color_blue_light: #4fbbeb;
$color_blue_light_2: #3bdcff;
$color_blue_light_3: #188abb;
$color_green_dark: #30fdd9;
$color_yellow: #e2cf22;

$gradient_bg: linear-gradient(
    212.99deg,
    #111631 -12.11%,
    #317296 16.63%,
    #085788 50.64%,
    #085788 71.51%
  ),
  #d9d9d9;
$gradient_bg_tmp: linear-gradient(
  195.1deg,
  #111631 10.4%,
  #317296 38.18%,
  #085788 67.42%,
  #085788 89.15%
);
$gradient_bg_light: linear-gradient(
  202.08deg,
  rgba(50, 164, 235, 0.7) 0.83%,
  rgba(11, 118, 184, 0.7) 97.41%
);
/* TIME*/

$th: 0.25s;
