<div class="feature">
    <div class="feature__inner">
        <div class="feature__list">
            {% for item in feature.feature_list %}
                {% include "blocks/feature/feature-item.njk" %}
            {% endfor %}
        </div>
        <div class="feature__text section__text paragraph">
            <p class="paragraph__item">
                <span class="deco__w deco__w_700">MetaHelix</span> includes many more features and more are being added every day. Create an account to learn more about <span class="deco__w deco__w_700">DAO</span> and community wallet price displayers, the live-mint countdown module, and everything else <span class="deco__w deco__w_700">MetaHelix</span> has to offer you and your community.
            </p>
            <p class="paragraph__item">
                With the goal of becoming the back-bone of all the <span class="deco__w deco__w_700">NFT</span> communities within <span class="deco__w deco__w_700">Discord</span>, we are now ready to announce <span class="deco__w deco__w_700">MetaHelix Ethereum</span>.
            </p>
        </div>
    </div>
</div>
