.banner {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title-box {
    /*  position: relative;
    z-index: -1; */

    display: none;
    justify-content: center;

    width: 100%;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    transition: background-size 0.5s;
    text-align: center;

    background: url('/img/bg/bg_text.png');
    background-position: 50% 50%;

    -webkit-background-clip: text;

    background-size: 100%;
    -webkit-text-fill-color: transparent;
    &:hover {
      background-size: 120%;
    }
    @include bp994-block() {
      margin-bottom: 50px;
      display: flex;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    @include bp994-block() {
      font-size: 150px;
      font-weight: 600;
      line-height: 120px;
    }
  }
  &__text {
    width: 100%;
    margin-bottom: 50px;

    text-align: center;

    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    @include bp994-block() {
      margin-bottom: 80px;

      font-size: 48px;
      line-height: 48px;
    }
  }
  &__deco {
    margin-bottom: 50px;
  }

  &__button {
    display: flex;
    justify-content: center;

    width: 100%;
  }
}
