.map-row {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__cell {
    width: 100%;

    @include bp994-block() {
      width: 50%;
    }
  }
  &__span {
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 25px 15px;

    border-radius: 40px;
    background: $gradient_bg_light;
  }
  &__textbox {
    display: flex;
    align-items: center;

    margin-left: 15px;
    // width: 230px;
  }
  &__text-line {
    font-size: 24px;
    line-height: 24px;
    @include bp994-block() {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
.map-row:nth-child(even) {
  @include bp994-block() {
    .map-row__inner {
      flex-direction: row-reverse;
    }
  }
  .map-row__span {
    flex-direction: row-reverse;
  }
  .map-row__textbox {
    margin-left: 0;
    margin-right: 15px;
  }
}
