.map-row {
  &__inner {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    &::after {
      position: absolute;
      left: 50%;
      bottom: 50%;

      width: 304px;
      height: 97.1px;

      content: '';

      transform: translate(-25px, 48.55px);

      background-image: url('../img/deco/deco_line_to_right.svg');
      background-repeat: no-repeat;
    }
    @include bp994-block() {
      margin-bottom: -15px;
      margin-top: -15px;
    }
  }
  &__cell {
    width: 100%;

    @include bp994-block() {
      width: 50%;
    }
  }
  &__span {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;

    padding: 35px 15px;

    margin-left: 0;
    border-radius: 40px;
    background: $gradient_bg_light;
    @include bp994-block() {
      margin-right: 25px;
      margin-left: 0;
      width: calc(100% - 25px);
    }
    // &::after {
    //   position: absolute;
    //   right: 0;
    //   bottom: 50%;

    //   transform: translate(100%, 50%);
    //   width: 440px;
    //   height: 108px;

    //   content: '';

    //   background-image: url('../img/deco/deco_line_to_right.svg');
    //   background-repeat: no-repeat;
    // }
  }
  &__textbox {
    display: flex;
    align-items: center;

    margin-left: 15px;
    // width: 230px;
  }
  &__text-line {
    font-size: 24px;
    line-height: 24px;
    @include bp994-block() {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
.map-row:nth-child(even) {
  .map-row__inner {
    &::after {
      background-image: url('../img/deco/deco_line_to_left.svg');
      left: auto;
      right: 50%;
      transform: translate(25px, 48.55px);
    }
  }
  .map-row__span {
    flex-direction: row-reverse;
    @include bp994-block() {
      margin-left: 25px;
      margin-right: 0;
      width: calc(100% - 25px);
    }
  }
  .map-row__textbox {
    margin-right: 15px;
    margin-left: 0;
  }
  @include bp994-block() {
    .map-row__inner {
      flex-direction: row-reverse;
    }
  }
}

