.map-row {
  &__inner {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    // &::after {
    //   @include bp994-block() {
    //     position: absolute;
    //     bottom: 50%;
    //     left: 50%;

    //     width: 304px;
    //     height: 97.1px;

    //     content: '';

    //     transform: translate(-25px, 48.55px);

    //     background-image: url('../img/deco/deco_line_to_right.svg');
    //     background-repeat: no-repeat;
    //   }
    // }
    @include bp994-block() {
      margin-top: -15px;
      margin-bottom: -15px;
    }
  }
  &__cell {
    width: 100%;

    @include bp994-block() {
      width: 50%;
    }
  }
  &__span {
    position: relative;

    display: flex;
    overflow: hidden;
    justify-content: center;

    width: 100%;

    margin-left: 0;

    padding: 35px 15px;

    border-radius: 40px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      background: $gradient_bg_light;

      @include ts(opacity);
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      opacity: 0;
      background: $color_blue;

      @include ts(opacity);
    }
    &:hover {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
    @include bp994-block() {
      width: calc(100% - 25px);
      margin-right: 25px;
      margin-left: 0;
    }
    // &::after {
    //   position: absolute;
    //   right: 0;
    //   bottom: 50%;

    //   transform: translate(100%, 50%);
    //   width: 440px;
    //   height: 108px;

    //   content: '';

    //   background-image: url('../img/deco/deco_line_to_right.svg');
    //   background-repeat: no-repeat;
    // }
  }
  &__img {
    position: relative;
    z-index: 1;
  }
  &__textbox {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;

    margin-left: 15px;
    // width: 230px;
  }
  &__text-line {
    font-size: 24px;
    line-height: 24px;
    @include bp994-block() {
      font-size: 30px;
      line-height: 30px;
    }
  }
  &__deco {
    position: relative;
    height: 100%;

    @include bp994-block() {
      &::after {
        position: absolute;
        top: calc(50% - 4px);
        left: -25px;

        width: 262.5px;
        height: 48.5px;

        content: '';

        border-top: 4px solid $color_light;
        border-right: 4px solid $color_light;
        border-top-right-radius: 60px;
      }
    }
  }
}
.map-row:nth-child(even) {
  // .map-row__inner {
  //   &::after {
  //     right: 50%;
  //     left: auto;

  //     transform: translate(25px, 48.55px);

  //     background-image: url('../img/deco/deco_line_to_left.svg');
  //   }
  // }
  .map-row__deco {
    @include bp994-block() {
      &::after {
        transform: scale(-1, 1);
        left: auto;
        right: -25px;
      }
    }
  }
  .map-row__span {
    flex-direction: row-reverse;
    @include bp994-block() {
      width: calc(100% - 25px);
      margin-right: 0;
      margin-left: 25px;
    }
  }
  .map-row__textbox {
    margin-right: 15px;
    margin-left: 0;

    text-align: right;
  }
  @include bp994-block() {
    .map-row__inner {
      flex-direction: row-reverse;
    }
  }
}
.map-row:last-child {
  // .map-row__inner {
  //   &::after {
  //     display: none;
  //   }
  // }
  .map-row__deco {
    display: none;
  }
}
