.work-item {
  &__inner {
    display: flex;
    align-items: center;
    //overflow: hidden;
    justify-content: center;

    width: 300px;
    height: 300px;
    padding: 25px;

    transition: all 0.3s;

    border-radius: 40px;
    background: $gradient_bg_light;
  }

  &__img {
    border-radius: 14px;
  }
}

.work-item.work-item_active {
  .work-item__inner {
    border-radius: 50%;
  }
}
