.work {
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__list {
    max-width: 960px;
    @include row-flex();
  }

  &__item {
    position: relative;
    z-index: 1;

    margin-bottom: 15px;
    @include col();
    @include size(6);
    @include size-bp768(4);
  }
}
