<div class="banner {{ inject.parentClass }}">
  <div class="banner__inner">
    <div class="banner__box layout__wrap">
      <div class="banner__title-box">
        <div class="banner__title">Meta Helix</div>
        {# <img
          src="/img/common/banner_main.png"
          alt=""
          class="banner__img img"
        />#}
      </div>
      <div class="banner__text">
        Is coming to <span class="deco__w_700">Ethereum</span>
      </div>
      <div class="banner__deco">
        <img
          src="/img/icons/icon__flower.svg"
          alt=""
          class="deco__pattern img"
        />
      </div>
      <div class="banner__sub-text">No. NFT’S</div>
      <div class="banner__numbers">5,555</div>
      <div class="banner__button">
        <a
          href="/"
          class="button button_size_xl"
        >
          <div class="button__text">Mint</div>
        </a>
      </div>
    </div>
  </div>
</div>