<div class="work__item work-item work-item_init"
     data-aos="fade-up"
     data-aos-duration="800"
     data-aos-delay="{{ loop.index * 200 }}">
    <div class="work-item__inner">
        <img src="/img/works/work_{{ work }}.jpg"
             alt=""
             class="work-item__img img">
    </div>
</div>
