<div class="work">
    <div class="work__inner">
        <div class="work__list">
            {% set works = [1, 2, 3, 4, 5, 6] %}
            {% for work in works %}
                {% include "blocks/work/work-item.njk" %}
            {% endfor %}
        </div>
    </div>
</div>

