<section class="section page__sectio {{ inject.sectionClass }}">
    <div class="section__inner">
        <div class="layout__{{ inject.wrapper }}">
            {% block section %}
            {% endblock section %}
        </div>
    </div>
</section>
