<div class="token__diagram diagram">
    <div class="diagram__inner">
        <div class="diagram__controlbox">
            <div class="diagram__control">
                <div class="icon icon_control"></div>
            </div>
        </div>
    </div>
    <div class="diagram__box"></div>
</div>
