<div class="token">
    <div class="token__inner">
        <div class="section__cell">
            <div class="section__number">6,500</div>
            <div class="section__about">
                <span class="deco__w deco__w_700">total Ethereum - based Helix NFTs</span>
                <br>
                will be minted in the first drop.
            </div>
        </div>
        {% include "blocks/diagram/diagram.njk" %}
    </div>
</div>
