<div class="about">
    <div class="about__inner">
        <div class="section__cell">
            <div class="section__number">2,215</div>
            <div class="section__text">servers onboarded</div>
        </div>
        <div class="section__cell">
            <div class="section__number">300,000+</div>
            <div class="section__text">users being verified</div>
        </div>
        <div class="section__cell">
            <div class="section__number">2,500+</div>
            <div class="section__text">
                SOL was already airdropped
                to the NFT holders
            </div>
        </div>
    </div>
</div>
